name: Build and Deploy to GH Pages

on:
  push:
    branches:
      - master # Usa 'master' o 'main', según tu rama principal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 

      - name: Install dependencies
        run: npm install

      - name: Build project (Vite)
        # Esto ejecuta 'npm run build' que crea tu carpeta 'dist'
        run: npm run build

      - name: Deploy to GitHub Pages
        # Esta es la acción que usa la rama gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist # La carpeta de salida de Vite
          publish_branch: gh-pages # Despliega a la rama 'gh-pages'
